/* Layout */
.titulo{
    background-color: black;
    height: 50px;
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}


.main {
    display: flex;
    padding: 2em;
    height: 9100%;
    justify-content: center;
    align-items: middle;
    background-color: crimson;
}

.clockbox,
#clock, #clock2 {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    transition: transform .5s ease-in-out;
}
#clock {
    max-height: 145px;
    background-color: #111;
    border-radius: 10px;
    max-width: 290px;
    margin: 0 auto;
    padding-left: 18px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.5);
    transform: translate(0, 50%);
    transition: all 500ms cubic-bezier(0.6,0.7,0.9,1);
    color: red;
    font-family: "Century Gothic";
    font-weight: 100;
    font-size: 100px;
    text-shadow: 0 0 60px rgba(255,0,0,1);
  }